<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468385627622-bum0f0gdi9ctn78q1ju1mfrg7l208lov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468385627622-bum0f0gdi9ctn78q1ju1mfrg7l208lov</string>
	<key>API_KEY</key>
	<string>AIzaSyACVxFz9adOnDscbxRKTt8qM4YQTTwe1V8</string>
	<key>GCM_SENDER_ID</key>
	<string>468385627622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurantEsatic.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-d15f0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-d15f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468385627622:ios:0f3d00efe36b372ed0aa27</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-d15f0-default-rtdb.firebaseio.com</string>
</dict>
</plist>